html, body {
    margin: 0px;
    height: 100%;
    width: 100%;
}

input:focus,
select:focus,
textarea:focus
{
    outline: none;
}

#container {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: 100%;
}

#top {
    height: 8%;
    width: 100%;
    color: green;
}

#content {
    display: flex;
    height: 92%;
    width: 100%; /* Ensure content div takes the full width */
}

#main {
    background-color: rgb(126, 126, 126);
    height: 100%;
    width: 100%;
}

#side {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 25%;
    max-width: 25%;
    background-color: rgb(184, 184, 184);
    justify-content: center;
    align-content: flex-start;
    overflow-y: auto;
    position: relative;
}

.screen-container{
    width: 40%;
    height: 12%;
    margin: 10px;
    margin-top: 32px;
    margin-bottom: 15px;
}

.mini-screen {
    width: 90%;
    height: 80%;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    font-size: 8px;
    padding: 9px;
}

.mini-screen:hover {
    border: 2px solid yellow;
}

.screen-name {
    margin-left: 8px;
}

#user_input_area {
    display: block;
    margin-bottom: 35px;
    resize: none;

    margin-left: auto;
    margin-right: auto;
    width: 93%;
    height: 55%;
}

#console_area {
    display: block;
    margin-bottom: 35px;
    resize: none;

    background-color: rgb(0, 0, 0);
    color: white;

    margin-left: auto;
    margin-right: auto;
    width: 93%;
    height: 20%;
}

#username {
    display: block;

    width: 30%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17%;

    border-radius: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

#join_button {
    display: block;
    background-color: rgb(43, 255, 75);

    width: 15%;
    height: 7%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#join_button:hover {
    background-color: rgb(39, 234, 69);;
}

#host_button {
    display: block;
    background-color: rgb(43, 255, 75);

    width: 8%;
    height: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

    border-radius: 30px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

#host_button:hover {
    background-color: rgb(39, 234, 69);;
}

#share_button {
    display: block;
    background-color: rgb(0, 255, 38);

    width: 12%;
    height: 5%;
    margin-left: 27px;
    margin-top: 5px;

    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#submit-code-button {
    display: block;
    background-color: rgb(0, 183, 255);

    width: 12%;
    height: 5%;
    margin-left: auto;
    margin-right: 27px;
    margin-top: -40px;

    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#screen-title {
    display: block;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#return_to_host_view_button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
}
